.labels {
    display: grid;
    grid-template-columns: repeat(6, 130px);
    gap: 10px;
    justify-content: center;
}

.box {
    text-align: center;
    color: #ffffff;
    font-size: large;
    border-radius: 0.5em;
    padding: 10px;
    cursor: move;
}

.hovered {
    border: 3px dotted #666;
}

.content {
    background-color: lightgrey;
    display: flex;
    border-radius: 0.5em;
    padding: 6px;
    font-size: 20px;
    justify-content: center;
    position: relative;
}

.content-top-left {
    position: absolute;
    top: -15px;
    left: 10px;
    margin: 0;
}

button {
    font-size: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 19.4%);
    gap: 10px;
}

.centered {
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.save {
    font-size: 200px;
}

/* COMMAND */
#COMMAND {
    border: 5px outset #3e6ec1;
    background-color: #4a85e8;
}
.command {
    border: 5px outset #4a85e8;
    background-color: #4a85e8;
}
.command.hovered {
    border: 3px dotted #666;
}
.command.same-class-adjacent,
.command.last-in-series {
    border-right-color: #4a85e8;
}

/* OPTION */
#OPTION {
    border: 5px outset #d07d00;
    background-color: #ff9900;
}
.option {
    border: 5px outset #ff9900;
    background-color: #ff9900;
}
.option.hovered {
    border: 3px dotted #666;
}

/* INPUT */
#INPUT {
    border: 5px outset #7400c2;
    background-color: #9900ff;
}
.input {
    border: 5px outset #9900ff;
    background-color: #9900ff;
}
.input.hovered {
    border: 3px dotted #666;
}

/* NUMBER */
#NUMBER {
    border: 5px outset #bd0000;
    background-color: #ff0000;
}
.number {
    border: 5px outset #ff0000;
    background-color: #ff0000;
}
.number.hovered {
    border: 3px dotted #666;
}

/* STRING */
#STRING {
    border: 5px outset #03ab00;
    background-color: #03ff00;
}
.string {
    border: 5px outset #03ff00;
    background-color: #03ff00;
}
.string.hovered {
    border: 3px dotted #666;
}

.command,
.option,
.input,
.number,
.string {
    padding: 3px;
    color: #ffffff;
    font-size: 22px;
}

/* Visually combine adjacent elements with the same class */
.command + .command,
.option + .option,
.input + .input,
.number + .number,
.string + .string {
    border-left: none;
    margin-left: -10px;
}

/* WIPE */
#WIPE {
    border: 5px outset #414141;
    background-color: #666666;
}
